Creating Components
===============

_Components_ are JavaScript objects, implementing 4 methods:

* `configure(hub, configuration)` : method called by the _hub_ when the component is registered. The component receives
   the reference on the hub and the configuration. Within this method, the component should describe the required and
   provided services.
* `start()` : method called by the hub when the component is started. The component can now use its dependencies, and be used.
* `stop()` : method called by the hub when the component is stopped.
* `getComponentName()` : method returning the component name.

If a component does not implement each of these methods, it cannot be registered on the hub.

Registering components and starting the hub
================================

First of all, don't forget to include the `hubu-all` script in your page. Then, in a `<script>` element of your HTML
page, you can use the global `hub` object to register your components:

	<script type="text/javascript">
			hub
				.registerComponent(backendComponent)
				.registerComponent(frontendComponent, {
					loginId : '#login',
					logoutId : '#logout',
					statusId : '#status',
				})
				.start();
		</script>
		
If you use jQuery, then do the registration in the `ready` callback:

		<script type="text/javascript">

		$(document).ready(function(){
			// Component registration
			hub
				.registerComponent(backendComponent)
				.registerComponent(frontendComponent, {
					loginId : '#login',
					logoutId : '#logout',
					statusId : '#status',
				})
				.start();
		});
		</script>	
		
So registering a component can be done simply, using the `hub.registerComponent(theComponent, theConfiguration)` method.
This method takes the component as the first parameter (mandatory) and the configuration as the second parameter.

Components can only be registered once for a given name. By default, the name is the value returned by the
`getComponentName` method. However, this can be customized via the `component_name` property in the configuration.

The `configuration` parameter is optional. If specified, the configuration is injected as a parameter of the component's
`configure` method. Configurations are just objects containing key/value pairs. As said previously, the `component_name`
property is managed in a different way. When specified, the `getComponentName` method is replaced to return the given value.

It is recommended to use the configuration to pass any external data to the component, such as HTML element selectors (ids, classes ...).

Declaring instances
======================

The previous way to declare components is made for singleton. You can instruct the hub to create a new instance of a
_function_. It's a popular way to mimic classes in JavaScript. However the return of the function must be a valid
component:

    var MyClass = function() {
           return {
               call : 0,
               name : "unamed",

               getComponentName : function() {
                   return this.name;
               },
               start : function() {
               },
               stop : function() {
               },
               configure : function(hub, configuration) {
                   this.name = configuration.name
               }
           }
       }

       hub
           .createInstance(MyClass, {name: "1"})
           .createInstance(MyClass, {name: "2"})
           .createInstance(MyClass, {name: "3"})

To dinstiguish with the regular component registration, we use the `createInstance` method on the hub. This method
takes a **function** as first argument (mandatory) and the instance configuration as second (optional). You can
reuse the same component code. The created instances act the same way as regular components.

If you are using CoffeeScript, you can also use CoffeeScript classes directly:

    app.BackendContract = {
      doSomething : (a) ->
    }

    ###
    # A simple class
    ###
    app.Backend = class Backend extends global.BackendContract
      name : null
      logger : null

      constructor : (name) ->
        @name = name
        @logger = new global.Logger("Backend")

      start : -> @logger.info("Backend starting...")

      stop : -> @logger.info("Backend stoping...")

      configure : (hub, config) ->
        if (config?.name?) then @name = config.name

      getComponentName: -> return @name

      doSomething : (a) ->
        @logger.info "Backend is going to do something"
        return @name + "-" + a
    [...]
    hub.createInstance(app.Backend, {name : "backend"} // We create the instance here.

